<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>广州实时公交查询</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/bussearch.css">
  </head>
  <body ontouchstart="">
    <header>
      <h1>广州实时公交查询</h1>
    </header>
    <div class="weui_search_bar" id="search_bar">
      <div class="weui_search_outer">
        <div class="weui_search_inner"><i class="weui_icon_search"></i>
          <form onsubmit="return false;">
            <input class="weui_search_input" id="search_input" type="search" name="search" placeholder="搜索" required="">
          </form><a class="weui_icon_clear" id="search_clear" href="javascript:"></a>
        </div>
        <label class="weui_search_text" id="search_text" for="search_input"><i class="weui_icon_search"></i><span>搜索</span></label>
      </div><a class="weui_search_cancel" id="search_cancel" href="javascript:">取消</a>
    </div>
    <div class="weui_cells weui_cells_access" id="weui_cells">
      <!-- 搜索结果数据显示-->
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/jquery-weui.min.js"></script>
    <script src="/static/js/bussearch.js"></script>
  </body>
</html>